

*{
    margin: 0;
    
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    
}

.main{
    width: 100vw;
    
    background-color: rgb(20, 11, 59);
    color: white;
    display: flex;
    flex-direction: column;
    
    

}

.nav{
    margin: 2vw 2vw;
    display: flex;
    align-items: center;
}

.nav h1{
    margin-left: 15px;
}

.arrow{
    cursor: pointer;
}




.container{
    margin: 2vw 2vw;
}



.header{
    overflow: hidden;
    display: flex;
    
}

.header h2{
    overflow: hidden;
    display: flex;
}

.header span{
    display: flex;
    flex-direction: row;
    color: rgb(250, 92, 255);
    overflow: hidden;
    margin-left: 6px;
}

.section1, .section2, .section3, .section4, .section5{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2vw;
}

.container2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    margin-top: 1.5vw;
}

.react-aria-Calendar {
    width: fit-content;
    max-width: 100%;
    color: var(--text-color);
  
    header {
      display: flex;
      align-items: center;
      margin: 0 4px .5rem 4px;
  
      .react-aria-Heading {
        flex: 1;
        margin: 0;
        text-align: center;
        font-size: 1.375rem;
      }
    }
  
    .react-aria-Button {
      width: 2rem;
      height: 2rem;
      padding: 0;
    }
  
    .react-aria-CalendarCell {
      width: 2rem;
      line-height: 2rem;
      text-align: center;
      border-radius: 6px;
      cursor: default;
      outline: none;
      margin: 1px;
      forced-color-adjust: none;
  
      &[data-outside-month] {
        display: none;
      }
  
      &[data-pressed] {
        background: var(--gray-100);
      }
  
      &[data-focus-visible] {
        outline: 2px solid var(--focus-ring-color);
        outline-offset: 2px;
      }
  
      &[data-selected] {
        background: var(--highlight-background);
        color: var(--highlight-foreground);
      }
    }
  }


