.nav{
    position: absolute;
    right: 50px;
    color: white;
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 50px;
    font-weight: 700;
    z-index: 99;
    
    
}

.nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 500px;
    font-size: 0.8rem;
    align-items: center;
    
    

}

.nav a {
    text-decoration: none;
    color: white;
  }


.btn{
    padding: 10px;
    border: 2px solid white;
    border-radius: 25px;
}